* {
    font-family: 'Arial', sans-serif;
}
#notesAccordion {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

}
#noteTitleInput {
    background: #cfe2ff;
    color: #252020;
    border: 1px solid #555
}
#noteContentInput {
    width: 90%;
    background: #cfe2ff;
    color: #252020;
    border: 1px solid #555
}

